.Table{
    background-color: white;
    padding: 2rem 1rem;
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
    max-height: 80%;
    border-radius: .5rem;
    min-width: 600px;
}

.flexContainer{
    display: flex;
    justify-content: space-between;
    padding: 0 .5rem;
    margin-bottom: 2.5rem;
}

.flexContainer Button{
    padding: .8rem 2.5rem;
    font-size: medium;
    font-weight: 500;
}

.Table table{
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
}


.Table th{
    text-align: start;
    width: 100%;
    color: #363737;
    padding: 0 .5rem 1rem .5rem;
}

.Table th:last-child{
    width: 120px;
}

.Table th:nth-last-child(2){
    width: 100px;
}

.Table thead{
    border-bottom: 1px solid #c2c2c2;
}

.centerText{
    text-align: center;
    padding: 3rem;
    font-weight: 500;
}